.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../components/assets/inicio-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    padding-top: 18%;
    font-family: "Oswald", sans-serif;
    color:  #fff;
    font-size: 60px;
    cursor: pointer;
    text-align: center;

}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
   
}

@keyframes arrow 
{
    0% {opacity: 0;}
    40% {opacity: 1;}
    88% {opacity: 0;}
    100% {opacity: 0;}
}

@-webkit-keyframes arrow
{
    0% {opacity: 0;}
    40% {opacity: 1;}
    88% {opacity: 0;}
    100% {opacity: 0;}
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}


@media screen and (max-width: 1120px) {
    h1 {
        padding-top: 28%;
        
    }
}

@media screen and (max-width: 768px) {
    .hero-container {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10px 30px;
        text-align: center;
    }
}

@media  screen and (max-width: 420px) {
    .hero-container {
        background-position: 70%;
    }

    .arrows {
        margin-top: 5%;
    }
}
